<div class="container mt-4">
 
  <header class="text-center mb-4">
    <h6 class="display-6">Bienvenue sur votre plateforme de gestion bancaire</h6>
    <p class="lead">Gérez facilement vos comptes, vos transactions et plus encore.</p>
  </header>
<br><br>

  <div class="row">

    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="assets/images/client.jpg" class="card-img-top" alt="Clients">
        <div class="card-body">
          <h5 class="card-title">Gérer les Clients</h5>
          <p class="card-text">Accédez à la liste complète de vos clients, ajoutez-en de nouveaux et gérez leurs informations.</p>
          <a href="/admin/clients" class="btn btn-primary">Voir les clients</a>
        </div>
      </div>
    </div>
   
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="assets/images/banque.jpg" class="card-img-top" alt="Comptes">
        <div class="card-body">
          <h5 class="card-title">Gérer les Comptes</h5>
          <p class="card-text">Visualisez et gérez les comptes bancaires de vos clients en toute simplicité.</p>
          <a href="/admin/comptes" class="btn btn-primary">Voir les comptes</a>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="assets/images/historique.jpg" class="card-img-top" alt="Transactions">
        <div class="card-body">
          <h5 class="card-title">Historique des Transactions</h5>
          <p class="card-text">Consultez l'historique complet des transactions effectuées par vos clients.</p>
          <a href="" class="btn btn-primary">Voir les transactions</a>
        </div>
      </div>
    </div>
  </div>

 <br><br>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-6">
        <img src="assets/images/optimiser.jpg" class="img-fluid rounded-start" alt="Gestion">
      </div>
      <div class="col-md-6">
        <div class="card-body custom-card-body"><br><br>
          <h2 class="card-title">Optimisez votre gestion bancaire</h2>
          <p class="card-text">Notre plateforme vous permet de gérer efficacement les opérations bancaires de vos clients. Profitez de nos outils de gestion avancés pour une expérience utilisateur améliorée.</p>
          <p class="card-text">Explorez les différentes fonctionnalités et tirez le meilleur parti de notre solution pour vos besoins bancaires.</p>
        </div>
      </div>
    </div>
  </div>
  
  <section class="choose-us mt-5">
    <h2 class="section-title">Pourquoi nous choisir ?</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card choose-card">
          <div class="card-body">
            <h5 class="card-title">Fiabilité</h5>
            <p class="card-text">Nous offrons des services fiables et sécurisés pour garantir la protection de vos informations bancaires.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card choose-card">
          <div class="card-body">
            <h5 class="card-title">Innovation</h5>
            <p class="card-text">Nous utilisons les dernières technologies pour fournir des solutions bancaires innovantes et efficaces.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card choose-card">
          <div class="card-body">
            <h5 class="card-title">Support</h5>
            <p class="card-text">Notre équipe de support est disponible 24/7 pour vous aider avec toutes vos questions et préoccupations.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  

  <footer class="footer-bottom">
    <p class="mb-0">© 2024 AppVagrant. Tous droits réservés.</p>
  </footer>
  
  
  